<div data-ng-include src="'/views/includes/connection.html'"></div>
<section>
  <div class="page-header">
    <h2>
      Payment Request
    </h2>
  </div>
</section>
<section>
<div class="container" ng-controller="PaymentRequestGenerator">

<div class="col-xs-12 col-md-8">

<form action="#" name="prForm" class="form-horizontal" role="form" novalidate>
<fieldset>

<!-- Form Name -->
<legend>Submit a {{name}}</legend>

<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-4 control-label" for="prChecks">Generate Bitcoin URLs</label>
  <div class="col-md-8">
  <div class="checkbox">
    <label for="prChecks-0">
      <input type="checkbox" name="prChecks" id="prChecks-0" ng-model="pr.TradPR" value="generateTradtional">
      Traditional Bitcoin URL 
	<i tooltip="This is compatible with all bitcoin clients. e.g. bitcoin:n24X8LKTVLmGSGZoTcsm3muqgRXyyE51vq?amount=0.098765&label=Test%20Bitcoin%20URI" class="glyphicon glyphicon-question-sign"></i>
    </label>
	</div>
  <div class="checkbox">
    <label for="prChecks-1">
      <input type="checkbox" name="prChecks" id="prChecks-1" ng-model="pr.PR" value="generatePR">
      Payment Request URL 
	<i tooltip="For merchants to sign orders with SSL Certs. e.g. bitcoin:?r=http://bitcoin.org/f.php%3Fh%3De51db2dadaaf1033711bc71cbb9a511d" class="glyphicon glyphicon-question-sign"></i>
    </label>
	</div>
   <div class="checkbox">
     <label for="prChecks-2">
      <input type="checkbox" name="prChecks" id="prChecks-2" ng-model="pr.qrcode" value="generateQR">
	Generate QR Code?
     </label>
	</div>
  </div>
</div>

<!-- Text input-->
<div ng-if="!pr.PR || (pr.TradPR && pr.PR)" class="form-group">
  <label class="col-md-4 control-label" for="paymentAddress">Address</label>  
  <div class="col-md-8">
  <input id="paymentAddress" name="paymentAddress" ng-model="pr.Addr" type="text" placeholder="n24X8LKTVLmGSGZoTcsm3muqgRXyyE51vq" class="form-control input-md">{{pr.Addr|checkAddr}}
  <span class="help-block">Address to send payment</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="paymentAmount">Amount</label>  
  <div class="col-md-8">
  <input id="paymentAmount" name="paymentAmount" ng-model="pr.Amt" type="number" placeholder=".5" min="0" class="form-control input-md">
  <span class="help-block">Amount in &#3647; (BTC)</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="paymentReference">Order Number</label>  
  <div class="col-md-8">
  <input id="paymentReference" name="paymentReference" type="text" ng-model="pr.Ref" placeholder="ABC2014" class="form-control input-md">
  <span class="help-block">Optional internal reference or order number.  This is not shown to clients.</span>  
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="prMemo">Description</label>
  <div class="col-md-8">                     
    <textarea class="form-control" id="prMemo" name="prMemo" ng-model="pr.Desc"> </textarea>
    <span ng-if="pr.TradPR" class="help-block">Limited to one line and 50 characters</span>
    <span ng-if="pr.PR && !(pr.PR && pr.TradPR)" class="help-block">For label/memo field.  e.g. Items in cart</span>
  </div>
</div>

<!-- Select Basic -->
<div ng-if="pr.PR" class="form-group">
  <label class="col-md-4 control-label" for="signPRrequest">Sign Request</label>
  <div class="col-md-8">
    <select id="signPRrequest" ng-model="pr.Signed" name="signPRrequest" class="form-control" required>
      <option value="merchantCert">Merchant Cert</option>
      <option value="noCert">None</option>
    </select>
    <span class="alert-danger" style="border-radius:3px;padding:3px" ng-show="prForm.signPRrequest.$error.required">Required!</span>
  </div>
</div>

<!-- Select Basic -->
<div ng-if="pr.PR" class="form-group">
  <label class="col-md-4 control-label" for="prExpireTime">Expires?</label>
  <div class="col-md-8">
    <select id="prExpireTime" ng-model="pr.Exp" name="prExpireTime" class="form-control" required>
      <option value="5min">In 5 Minutes</option>
      <option value="15min">In 15 Minutes</option>
      <option selected="selected" value="30min">In 30 Minutes</option>
      <option value="never">Never</option>
    </select>
    <span class="alert-danger" style="border-radius:3px;padding:3px" ng-show="prForm.prExpireTime.$error.required">Required!</span>
  </div>
</div>

<!-- Text input-->
<div ng-if="pr.PR" class="form-group">
  <label class="col-md-4 control-label" for="prACK">Thank You Message</label>  
  <div class="col-md-8">
  <input id="prACK" name="prACK" type="text" ng-model="pr.Ack" placeholder="Thanks for your purchase!" class="form-control input-md">
  <span class="help-block">Response for customers</span>  
  </div>
</div>

<!-- Text input-->
<div ng-if="pr.PR" class="form-group">
  <label class="col-md-4 control-label" for="prRefAddr">Refund Address</label>  
  <div class="col-md-8">
  <input id="prRefAddr" name="prRefAddr" type="text" ng-model="pr.RefAddr" placeholder="mtULh5fVZh1eRjugMstMw3WNaMdmW95k1X" class="form-control input-md">
  <span class="help-block">Send refunds to this address</span>  
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submitPR">Process Request</label>
  <div class="col-md-8">
    <button class="btn btn-danger" type="reset" value="reset" ng-click="reset()" ng-disabled="isUnchanged(pr)">Reset Form</button>
    <button id="submitPR" name="submitPR" class="btn btn-primary" ng-click="update()" ng-disabled="prForm.$invalid" || "isUnchanged(pr)">Submit</button>
  </div>
</div>

</fieldset>
</form>

</div>

<div ng-if="pr.PR||pr.TradPR" class="col-xs-12 col-md-4 col-gray">
<h2> Results </h2>

<!--
<p>Signed? {{pr.Signed}} , Amount? {{pr.Amt}}, Address? {{pr.Addr}}, Reference? {{pr.Ref}}, Expires? {{pr.Exp}}, Description? {{pr.Desc}}, PayAck? {{pr.Ack}}, BitAddr? {{pr.TradPR}}, BitPay? {{pr.PR}}, Refund? {{pr.RefAddr}}    </p>
-->
<p>
  <div ng-if="pr.TradPR">
    <a href="bitcoin:{{pr.Addr}}?amount={{pr.Amt}}&label={{pr.Desc}}">bitcoin:{{pr.Addr}}?amount={{pr.Amt}}&label={{pr.Desc|limitTo:50}}</a>
  </div>
</p>
<p>
  <div ng-if="pr.PR">
    Please click "Submit" to generate a payment request.
    <a href="bitcoin:mrhz5ZgSF3C1BSdyCKt3gEdhKoRL5BNfJV?r=http%3A%2F%2F172.17.254.107%2Fbtcpay%2Fphp%2Fdemo_website%2Ff.php%3Fh%3D78407f07c2ed37ae7ed7ea3896918536&amount=0.00112233">Test uri may not be live</a>
  </div>
</p>

</div>

</div>
